.menu-button {
  background-color: orangered;
  padding: 10px 10px;
  font-size: 1.5rem;
  margin-right: 15px;
  border-radius: 15px;
  margin-bottom: 30px;
}

.menu-button:hover {
  background-color: rgba(255, 68, 0, 0.607);
}

.menu-button.holder {
  /* Removed as it was an incorrect selector and structure has changed */
}

.menu-bar {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.sections-display {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 5px;
}