.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.button{
  background-color: orange;
  padding: 7.5px;
  font-size: 25px;
  border-radius: 30px;
  font-family: Times New Roman;
}



.new-task{
  gap: 10px;
  border-radius: 5px;
  background-color: orange;
}

.section-type{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.section-wrapper{
  background-color: lightcoral;
  text-align: center;
  justify-content: center;
  width: 500px;
  height: 500px;

}

.center-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-box{
  width: 80%;
  height: 25%;
  text-align: center;
}

.button-add{
  justify-items: center;
  width: 90px;
  height: 30px;
  text-align: center;
  justify-content: center;
}
