.section{
  width: 400px;
  height: 400px;
  background-color: lightblue;
  border-radius: 10px;
  padding: 20px;
  float: left;
}
.section p{
  font-family: 'verdana';
}
.task-heading{
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
}